h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.header {
  min-height: 100vh;
  border-radius: 0 0 30px 30px;
  background-color: #2C2C2C;
}
.header__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1600px;
  min-height: 100vh;
  margin-inline: auto;
}
.header__bottom {
  flex-grow: 1;
  margin-top: 48px;
  --column: 2;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  column-gap: 20px;
}
@media (min-width: 576px) {
  .header__bottom {
    --column: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .header__bottom {
    --column: 12;
    column-gap: 20px;
  }
}
@media (min-width: 1600px) {
  .header__bottom {
    column-gap: 30px;
  }
}
@media (min-width: 576px) {
  .header__bottom {
    margin-top: 56px;
  }
}
@media (min-width: 1024px) {
  .header__bottom {
    height: 100%;
    margin-top: 38px;
  }
}
.header__left {
  display: block;
  grid-column: 1/-1;
  margin-bottom: 48px;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .header__left {
    padding-inline: 41px;
  }
}
@media (min-width: 1024px) {
  .header__left {
    padding-inline: 54px;
  }
}
@media (min-width: 1600px) {
  .header__left {
    max-width: 1600px;
    padding-inline: 227px;
  }
}
@media (min-width: 576px) {
  .header__left {
    margin-bottom: 147px;
  }
}
@media (min-width: 1024px) {
  .header__left {
    grid-column: 1/7;
    margin-bottom: 0;
    padding-block: 164px 0;
  }
}
.header__right {
  display: flex;
  grid-column: 1/-1;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 400px;
  border-radius: 0 0 30px 30px;
  background-image: url("../images/GwVmBgpP-PQ.svg");
  background-position: center;
  background-size: cover;
}
@media (min-width: 1024px) {
  .header__right {
    grid-column: 7/13;
    max-height: 100vh;
    border-radius: 30px 0;
  }
}
.header__text {
  margin-top: auto;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .header__text {
    padding-inline: 41px;
  }
}
@media (min-width: 1024px) {
  .header__text {
    padding-inline: 54px;
  }
}
@media (min-width: 1600px) {
  .header__text {
    max-width: 1600px;
    padding-inline: 227px;
  }
}
@media (min-width: 1024px) {
  .header__text {
    display: inline-flex;
    gap: 24px;
    padding-left: 78px;
  }
}
.header__text__title {
  margin-bottom: 32px;
}
.header__arrows {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.header__title-second {
  margin: 0 0 8px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header__description-second {
  max-width: 280px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.header__title-first {
  margin: 0 0 32px;
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 120%;
  color: #fff;
  letter-spacing: -2px;
}
@media (min-width: 576px) {
  .header__title-first {
    margin: 0 0 24px;
  }
}
@media (min-width: 1024px) {
  .header__title-first {
    margin: 0 0 32px;
  }
}
.header__description-first {
  max-width: 362px;
  margin: 0 0 72px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  letter-spacing: 0;
}
@media (min-width: 576px) {
  .header__description-first {
    margin: 0 0 56px;
  }
}
@media (min-width: 1024px) {
  .header__description-first {
    margin: 0 0 83px;
  }
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
  background-color: #2060F6;
}
@media (min-width: 576px) {
  .header__button {
    width: 246px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.icon--menu {
  display: flex;
  background-image: url("../images/slider/Menu.svg");
}
@media (min-width: 1024px) {
  .icon--menu {
    display: none;
  }
}
.icon--arrow-left {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../images/slider/mdi_chevron_left.svg");
  background-position: center;
  background-size: 18px 18px;
}
.icon--arrow-right {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../images/slider/mdi_chevron_right.svg");
  background-position: center;
  background-size: 18px 18px;
}
.icon--arrow-forward {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2060F6;
  background-image: url("../images/slider/mdi_arrow_forward.svg");
  background-position: center;
  background-size: 24px 24px;
}
.icon--commas {
  text-align: center;
  margin-bottom: 16px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-top: 18px;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .top-bar {
    padding-inline: 41px;
  }
}
@media (min-width: 1024px) {
  .top-bar {
    padding-inline: 54px;
  }
}
@media (min-width: 1600px) {
  .top-bar {
    max-width: 1600px;
    padding-inline: 227px;
  }
}
@media (min-width: 1024px) {
  .top-bar {
    padding-top: 48px;
  }
}
.top-bar__min {
  display: flex;
  align-items: center;
}
.top-bar__logo--link {
  padding-right: 32px;
}
.top-bar__nav-menu {
  display: none;
  justify-content: center;
}
@media (min-width: 1024px) {
  .top-bar__nav-menu {
    display: flex;
  }
}
.top-bar__nav--list {
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  position: relative;
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  transform-origin: center;
  transform: scale(0);
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #2060F6;
  transition: transform 0.3s;
}
.nav-link:hover::after {
  transform: scale(1);
}

.who-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-block: 120px;
  margin-inline: auto;
}
@media (min-width: 576px) {
  .who-we-are {
    margin-block: 120px;
  }
}
@media (min-width: 1024px) {
  .who-we-are {
    width: 716px;
    margin-block: 120px;
  }
}
@media (min-width: 1600px) {
  .who-we-are {
    width: 754px;
  }
}
.who-we-are__title {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  color: #253757;
  text-align: center;
  letter-spacing: 0;
}
.who-we-are__description {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
  color: #6C788B;
  text-align: center;
  letter-spacing: 0;
}

.card {
  width: 100%;
  padding-bottom: 72px;
}
@media (min-width: 576px) {
  .card {
    padding-bottom: 128px;
  }
}
@media (min-width: 1024px) {
  .card {
    max-width: 214px;
    padding-bottom: 134px;
  }
}
@media (min-width: 1600px) {
  .card {
    max-width: 266px;
  }
}
.card__img {
  display: flex;
  width: 166px;
  height: 166px;
  margin-bottom: 32px;
  margin-inline: auto;
  border-radius: 16px;
  object-fit: cover;
}
.card__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  color: #253757;
  text-align: center;
  letter-spacing: 0;
}
.card__description {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #6C788B;
  text-align: center;
  letter-spacing: 0;
}

.our-expertise {
  border-radius: 30px;
  background-color: #fff;
}
.our-expertise__cards {
  row-gap: 72px;
  --column: 2;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  column-gap: 20px;
}
@media (min-width: 576px) {
  .our-expertise__cards {
    --column: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .our-expertise__cards {
    --column: 12;
    column-gap: 20px;
  }
}
@media (min-width: 1600px) {
  .our-expertise__cards {
    column-gap: 30px;
  }
}
.our-expertise__card {
  overflow: visible;
  grid-column: 1/-1;
  margin-inline: auto;
}
@media (min-width: 576px) {
  .our-expertise__card {
    grid-column: 2/6;
  }
}
@media (min-width: 1024px) {
  .our-expertise__card {
    grid-column: span 4;
  }
}
.our-expertise__title {
  margin: 0;
  padding-block: 72px 56px;
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0;
  vertical-align: middle;
}
@media (min-width: 576px) {
  .our-expertise__title {
    padding-block: 128px 64px;
  }
}

.card__services {
  height: 262px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.031372549);
}
.card__services__container {
  padding-block: 32px;
  padding-inline: 23px;
}
.card__services__numbers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 24px;
  margin: 0 0 24px;
  border-radius: 23px;
  background-color: rgba(32, 96, 246, 0.1);
}
.card__services__number {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  color: #2060F6;
  text-transform: uppercase;
  letter-spacing: 0;
}
.card__services__description {
  margin: 0 0 32px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  color: #6C788B;
  letter-spacing: 0;
}
.card__services__link {
  display: flex;
  gap: 16px;
  align-items: center;
}
.card__services__link--text {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #2060F6;
  text-decoration: none;
  letter-spacing: 0;
}

.services {
  width: 100%;
  margin-block: 148px;
}
.services__wrapper {
  row-gap: 24px;
  align-items: center;
  --column: 2;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  column-gap: 20px;
}
@media (min-width: 576px) {
  .services__wrapper {
    --column: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .services__wrapper {
    --column: 12;
    column-gap: 20px;
  }
}
@media (min-width: 1600px) {
  .services__wrapper {
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .services__wrapper {
    padding-top: 148px;
  }
}
.services__card-on-grig {
  grid-column: 1/-1;
  justify-self: center;
  width: 280px;
  margin-inline: auto;
}
@media (min-width: 576px) {
  .services__card-on-grig {
    width: 100%;
  }
  .services__card-on-grig:nth-child(even) {
    grid-column: 1/4;
  }
  .services__card-on-grig:nth-child(odd) {
    transform: translateY(-131px);
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .services__card-on-grig {
    transform: none;
    margin-top: 0;
  }
  .services__card-on-grig:nth-of-type(1) {
    grid-column: 7/10;
  }
  .services__card-on-grig:nth-of-type(2) {
    grid-column: 10/13;
  }
  .services__card-on-grig:nth-of-type(3) {
    grid-column: 7/10;
  }
  .services__card-on-grig:nth-of-type(4) {
    grid-column: 10/13;
  }
}
.services__text {
  grid-column: 1/-1;
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  .services__text {
    grid-column: span 3;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .services__text {
    grid-column: span 4;
    margin-bottom: 0;
  }
}
.services__small-titte {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  color: #C0CDD7;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.services__big-title {
  margin: 0 0 32px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  color: #253757;
  letter-spacing: 0;
  vertical-align: middle;
}
.services__description {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #6C788B;
  letter-spacing: 0;
}

.testimonials {
  margin-bottom: 186px;
}
.testimonials__title {
  grid-column: 1/-1;
}
.testimonials__title-small {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #C0CDD7;
  margin: 0 0 16px;
}
.testimonials__title-big {
  margin: 0 0 85px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  color: #253757;
}
.testimonials__wrapper {
  row-gap: 30px;
  --column: 2;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  column-gap: 20px;
}
@media (min-width: 576px) {
  .testimonials__wrapper {
    --column: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .testimonials__wrapper {
    --column: 12;
    column-gap: 20px;
  }
}
@media (min-width: 1600px) {
  .testimonials__wrapper {
    column-gap: 30px;
  }
}
.testimonials__card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 9px 18px 0px rgba(37, 41, 49, 0.031372549);
  padding-block: 32px;
  padding-inline: 42px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 456px;
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .testimonials__card {
    height: 478px;
  }
}
@media (min-width: 1024px) {
  .testimonials__card {
    grid-column: span 4;
    height: 456px;
  }
}
@media (min-width: 1600px) {
  .testimonials__card {
    height: 494px;
  }
}
.testimonials__img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
@media (min-width: 576px) {
  .testimonials__img {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 1024px) {
  .testimonials__img {
    width: 110px;
    height: 110px;
  }
}
@media (min-width: 1600px) {
  .testimonials__img {
    width: 140px;
    height: 140px;
  }
}
.testimonials__photo {
  position: relative;
  width: 196px;
  height: 196px;
  position: relative;
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  .testimonials__photo {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .testimonials__photo {
    width: 196px;
    height: 196px;
  }
}
@media (min-width: 1600px) {
  .testimonials__photo {
    width: 250px;
    height: 250px;
  }
}
.testimonials__blue-block {
  position: absolute;
  width: 109px;
  height: 44px;
  border-radius: 12px;
  background-color: #2060F6;
  z-index: 1;
}
@media (min-width: 576px) {
  .testimonials__blue-block {
    width: 139px;
    height: 56px;
  }
}
@media (min-width: 1024px) {
  .testimonials__blue-block {
    width: 109px;
    height: 44px;
  }
}
@media (min-width: 1600px) {
  .testimonials__blue-block {
    width: 139px;
    height: 56px;
  }
}
.testimonials__blue-block--left {
  top: 50%;
  left: 50%;
  transform: translate(-80%, -140%) rotate(-60deg);
}
.testimonials__blue-block--right {
  top: 50%;
  left: 50%;
  transform: translate(-20%, 40%) rotate(-60deg);
}
.testimonials__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__description {
  margin: 0;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  color: #6C788B;
}
@media (min-width: 576px) {
  .testimonials__description {
    max-width: 362px;
  }
}
.testimonials__about-people {
  margin-top: auto;
}
.testimonials__name {
  margin: 0 0 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
  color: #253757;
}
.testimonials__position {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #C0CDD7;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  background: #eee;
}

.container {
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 41px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-inline: 54px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding-inline: 227px;
  }
}

/*# sourceMappingURL=main.css.map */
